<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% messages.forEach((message) => { %>
        <li>User: <%= message.user %></li>
        <li>Text: <%= message.text %></li>
        <li>Added: <%= message.added %></li>
        <p></p>
      <% }); %>
    </ul>
    </script>
  </body>
</html>
